@{
    ViewData["Title"] = "About Me";
}

<div class="about-section">
    <h1> About Me</h1>
    <p>Welcome! I'm Dillibabu, a passionate software developer specializing in ASP.NET Core and modern web technologies.
    </p>

    <h3>My Journey</h3>
    <p>
        I started my career as a .NET developer at Cognizant, where I contributed to developing dynamic web applications
        and
        optimized backend systems. Over the years, I've honed my expertise in frameworks like ASP.NET, C#, and MSSQL,
        working on projects ranging from educational platforms to microservices-based architectures.
    </p>

    <h3>Skills & Technologies</h3>
    <ul>
        <li><strong>Languages:</strong> C#, SQL, LINQ, JavaScript,</li>
        <li><strong>Frameworks:</strong> ASP.NET, ADO.Net, Entity Framework</li>
        <li><strong>Database:</strong> MSSQL</li>
        <li><strong>Tools:</strong> Visual Studio, TFS, Git</li>
    </ul>

    <h3>Education</h3>
    <p>
        I hold a Bachelor's Degree in Computer Science from SRM Valliammai Enginnering College.
    </p>

</div>
