@{
    ViewData["Title"] = "My Projects";
}

<h1>My Projects</h1>

<h3>1. Project 1: Audit Management Services: </h3>

<ul>
    <li>Contributed to the Audit Management System, a web application developed
        with .NET and a microservices architecture.</li>
    <li>Engaged in building Audit Checklist, Audit Benchmark, Audit Severity, and
        Authorization Microservices to support audit compliance.</li>
    <li>Key Responsibilities: Code deployment on the development server, technical
        documentation, and debugging.</li>
    <li>Implemented a role-based login system with secure access controls.</li>
    <li>Gained experience in version control and continuous integration (CI/CD)
        practices. Worked with Waterfall and Agile methodologies for effective project
        management and delivery.</li>
    <li>Technologies used : .NET Core, Microservices, Web Application, Version
        Control, Continuous Integration (CI/CD).</li>
</ul>

<h3>2. Project 2: Educational Firm: </h3>

<ul>
    <li>Responsibilities: Contributed to requirement analysis and architectural design
        in the Agile development environment.</li>
    <li>Client Interaction: Engaged in client discussions to gather insights and ensure
        alignment with project requirements.</li>
    <li>Development Tools: Used Visual Studio and .NET Core and Microservices to
        implement robust business logic, enhancing overall application functionality.</li>
    <li>Database Management: Designed and modified stored procedures, tables, and
        views in SQL for seamless integration within the platform.</li>
    <li>SQL Optimization: Crafted complex SQL queries for project-specific needs,
        improving database efficiency.</li>
    <li>Technologies Used: .Net Core, Microservices, .NET Framework, Visual Studio,
        SQL</li>
</ul>

<h3>3. Project 3: Book2Go </h3>
<ul>
    <li>Designed a dynamic and responsive user interface using React.js.</li>
    <li>Implemented RESTful APIs for seamless communication between
        frontend and backend.</li>
    <li>Ensured robust backend development with ASP.NET Core, showcasing
        modern web development practices.</li>
    <li>Technologies Used: React.js, ASP.NET Core, REST APIs, SQL Server (or
        any relevant database), CSS, and JavaScript.</li>
</ul>
